.page-section {
	padding: 1.2rem 0;
	
	@mixin atMedium {
		padding: 4.5rem 0;
	}

	&__blue {
		background-color: $themeColor;
		color: #fff;
	}

	&__testimonials {
		background-color: #e0e6ef;
		
		@mixin atMedium {
			/* backgroundimage is loaded with lazyload
			when user scrolls to the section the class
			lazyload will change into lazyloaded */
			&.lazyloaded {
				background: url('/assets/images/testimonials-bg.jpg') top center no-repeat;
				background-size: cover;
			}
		}
	}	
}